# xlsx file には機密情報が含まれる可能性があるため、バージョン管理から除外する
*.xlsx

# venv はバージョン管理から除外する
venv/

# submits ディレクトリには、提出物が含まれるため、バージョン管理から除外する
submits/

# tests ディレクトリには、テストコード=提出課題の情報が含まれるため、バージョン管理から除外する
tests/

*.d

.DS_Store